@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    font-family: "Poppins", "sans-serif";
}

a{
    text-decoration: none;
}

nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
    /* height: 3rem; */
}

nav h1{

    font-size: 32px;

}

nav a{
    color: #272626;

    
}

#middle-nav-div{
    display: flex;
    column-gap: 20px;

}

#middle-nav-div p{
    font-size: 18px;
}

.nav-btn{
    border: none;
    background-color: #282828;
    padding: 8px 20px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.create-account{
    border: 1px solid #282828;
    background-color: #fff;
    color: #282828;
}

#search-bar{
    width: 100%;
    outline: 0;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 1px 6px 0px #AAAAAA;
    height: 2.5rem;
    padding: 5px 40px;
}

#search-container{
    width: 30%;
    position: relative;
    margin-left: 6%;
}

.search-icon{
    position: absolute;
    left: 15px;
    top: 18px;
    color: #AAAAAA;
}

#result-box{
    text-align: left;
    /* text-transform: lowercase; */
    width: 100%;
    /* padding: 20px 20px; */
    border-radius: 5px;
    box-shadow: 0px 1px 6px 0px #AAAAAA;
    display: none;
    z-index: 999;   
    position: absolute;
    top: 7vh;
    font-weight: 400;
    transition: all 0.2s ease;
    background-color: #fff;
}

.result-span{
    text-transform: none;
}

.search-results {
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    opacity: 1;
    font-weight: 600;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: none;
  }

.search-results:hover{
    background-color: #d8d8d8;
  }
.not-found{
    text-transform: none;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    padding: 20px 20px;
}

#hello-msg{
    font-weight: 600;
    margin-right: 10px;
    border-radius: 20px;
    border: 0.5px solid #282828;
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
}