#book-detail-main{
    display: flex;
    width: 90%;
    padding: 40px;
    margin: 0 auto;
    
    justify-content: center;
}

#book-detail-section{
    width: 60%;
    padding: 30px 20px;
}

#book-title{
    font-size: 48px;
    margin-block-end: 0;
    margin-block-start: 0;

}

#book-detail-header{
    display: flex;
    margin-bottom: 6rem;
    justify-content: center;
    align-items: center;
    
}

#book-detail-header-image{
    width: 150px;
    transform: rotate(-10deg);
    margin: 0 40px;
}

#book-detail-header-text{
    padding-left: 50px;
}

#book-detail-header-text a{
    color: #272727;
}

#buy-now-btn{
    background-color: #f7a05e;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

#add-tf-btn{
    background-color: rgb(255, 255, 86);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

aside{
    width: 30%;
}

aside h3{
    text-align: center;
}

#comment-div{
    width: 100%;
    margin: 0 auto;
    
}

#comment-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#id_text{
    resize: none;
    height: 1.5rem;
    padding: 5px 10px;
}

#comment-form input[type="submit"]{
    background-color: #282828;
    border: none;
    margin: 20px auto;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

#all-comments-div{
    /* background-color: rgb(216, 216, 216); */
    
    box-shadow: 0px 1px 6px 0px #AAAAAA;
    padding: 10px;
    border-radius: 5px;
    
}

#all-comments-div ul{
    list-style: none;
    /* font-size: 16px; */
    padding: 0 5px;
    color: #414141;
    margin-block-start: 0.30em;
    
}

#all-comments-div ul li{
    border-bottom: 0.5px solid #414141;
    padding-top: 0.90em;
    
}

#all-comments-div ul li:last-of-type{
    border-bottom: none;
}

#comment-login-btn{
    border-radius: 5px;
    margin: 20px auto;
    border: 1px solid #282828;
    background-color: #fff;
    height: 2.5rem;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
}

#comment-login-btn:hover{
    background-color: #282828;
    color: #fff;
}


#comment-detail{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    font-size: 14px;
    height: 2rem;
}

#comment-detail span{
    color: #858585;
}

#all-comments-div p{
    font-size: 14px !important;
    margin-block-start: 0;
    

}
#no-comments-heading{
    text-align: center;
}